@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme mode transition */
* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.dark {
  background-color: #020817;
}

@layer base {
  h2, h3, span {
    @apply text-black dark:text-white;
  }

  p {
    @apply text-slate-500 dark:text-slate-400;
  }
}
